@charset "UTF-8";

/*===================== VARIABLES =====================*/

:root{
    font-size: 62.5%; /* 1rem = 10px*/

    --header-height: 7.2rem;

    --hue-base: 35;

    /*HSL color mode*/
    --base-color: hsl(var(--hue-base), 100%, 57%);
    --base-color-mediun: hsl(var(--hue-base), 100%, 50%);
    --base-color-strong: hsl(var(--hue-base), 100%, 46%);
    --menu-color: hsl(0, 0%, 17%);
    --title-color: hsl(0, 0%, 100%);
    --text-color: hsl(0, 0%, 100%);
    --body-color: hsl(0, 0%, 28%);
}


/*===================== RESET =====================*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.6rem;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
    height: auto;
}

/*===================== GERAL =====================*/

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'DM Sans', sans-serif;
    color: var(--text-color);
    background: var(--body-color);
    -webkit-font-smoothing: antialiased;
}

.title{
    font: 700 3rem 'Poppins', sans-serif;
    color: var(--title-color);
    -webkit-font-smoothing: auto;
}

.button{
    background-color: var(--base-color-strong);
    color: var(--text-color);
    height: 5.6rem;
    display: inline-flex;
    align-items: center;
    padding-inline: 3.2rem;
    border-radius: .4rem;
    font-size: 500  'DM Sans', sans-serif;
    transition: .3s;
    cursor: pointer;
}

.button:hover{
    background: var(--base-color);
    transform: scale(1.05);
    border: none;
}

.divider-1{
    height: 1px;
    background: linear-gradient(270deg, 
    hsla(35, 100%, 46%, 1),
    hsl(27, 100%, 88%));
}

.divider-2{
    height: 1px;
    background: linear-gradient(270deg, 
    hsl(27, 100%, 88%),
    hsla(35, 100%, 46%, 1));
}

main{
    margin-top: calc(var(--header-height) + 3.2rem);
}

.icon{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/*===================== LOGO =====================*/

.logo{
    font: 700 2.1rem 'Poppins', sans-serif;
    color: var(--title-color);
}

.logo span {
    font: 700 2.1rem 'Poppins', sans-serif;
    color: var(--base-color-strong)
}

/*===================== NAVIGATION =====================*/
nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav ul li {
    text-align: center;
}

nav ul li a{
    transition: color .2s;
    position: relative;
}

nav ul li a:hover{
    color: var(--base-color-strong)
}

nav ul li a::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: var(--base-color-strong);

    position: absolute;
    left: 0;
    bottom: -4rem;
    transition: width 0.2s;
}

nav ul li a:hover::after{
    width: 100%;
}

nav .menu ul{
    display: none;
}

nav .menu{
    opacity: 0;
    visibility: hidden;
    top: -20rem;
    transition: 0.2s;
}

/*===================== OPEN MENU =====================*/

nav.show .menu{
    opacity: 1;
    visibility: visible;
    background-color: var(--menu-color);
    height: 100vh;
    width: 100vw;

    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    place-content: center;
}

nav.show ul.grid{
    gap: 6.4rem;
}

nav.show .menu ul{
    display: grid;
}

/*===================== LAYOUT =====================*/

#header{
    border-bottom: 1px solid #e4e4e473;
    height: var(--header-height);
    width: 100%;
    position: fixed;
    z-index: 100;
    background-color: var(--menu-color);
    top: 0;
    left: 0;
    display: flex;
}

#header.scroll{
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.473);
}

.container{
    margin-inline: 3rem;
}

.grid{
    display: grid;
    gap: 3.2rem;
}

.section{
    padding-block: 8rem;
}

.section .title{
    padding-bottom: 1.6rem;
}

.section header{
    margin-bottom: 8rem;
}

/* toggle menu */

nav .close-menu{
    visibility: hidden;
    opacity: 0;

    position: absolute;
    right: 3rem;
    top: -2rem;

    transition: .2s;
}

nav.show div.close-menu{
    visibility: visible;
    opacity: 1;
    top: 2rem;
}

/*===================== HOME =====================*/

#home{
    overflow: hidden;
}

#home .container{
    margin: 0;
}

#home .image{
    position: relative;
}

#home .image::before{
    content: '';
    height: 93%;
    width: 92%;
    background-color: var(--base-color);
    position: absolute;
    top: -12%;
    left: 8%;
    z-index: 0;
}

#home .image img{
    position: relative;
    right: 4.7rem;
}

#home .image img,
#home .image::before{
    border-radius: 0.4rem;
}

#home .text{
    margin-inline: 3rem;
    text-align: center;
}

#home .text h1{
    margin-bottom: 1.6rem;
}

#home .text p{
    margin-bottom: 3.2rem;
    max-width: 100%;
}

/*===================== ABOUT =====================*/

#about{
    overflow: hidden;
}

#about .container{
    margin: 0;
}

#about .image{
    position: relative;
}

#about .image::before{
    content: '';
    height: 93%;
    width: 92%;
    background-color: var(--base-color);
    position: absolute;
    top: -10%;
    left: -30%;
    z-index: 0;
}

#about .image img{
    position: relative;
}

#about .image::before{
    border-radius: 0.4rem;
}

#about .text{
    margin-inline: 3rem;
    text-align: justify;
}

/*===================== SERVICES =====================*/

.cards.grid {
    gap: 2.4rem;
}

.card{
    padding: 5.8rem 3.2rem;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.473);
    border-bottom: .3rem solid var(--base-color-strong);
    border-radius: 0.5rem 0.5rem 0 0;
    text-align: center;
}

.icon-service{
    width: 48px;
    margin-bottom: 2.4rem;
}

.card .title{
    font-size: 2.4rem;
    margin-bottom: 1.2rem;
}